{% extends 'base.html' %}
{% load static %}

{% block  content %}
<main>
        <h2 class="Main_Title">Categories</h2>
        {% for genre in genres %}
        <!--переименовать class -->
                <div class="movie">
                <!--доделать настройку пути -->
<!--                        <img class="movie_img" src="{{foto}}" alt="this is image of cat">-->
                        <span class="title_movie">{{genre}}</span>
                </div>
        {% endfor %}

</main>
{% endblock %}