
{% extends 'base.html' %}
{% load static %}

{% block  content %}
<main>
    <table class="content_about_us">

        <tr>
            <td>
        <h1 class="header1">{{title}}</h1>
            </td>
        </tr>
        <tr>
            <td>
            <h2 class="header2">enjoy watching</h2>
            </td>
        </tr>

            <tr>

                    <td>
                         <span class="text_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exerci Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exerci</span>

                            <form>
                    <button class="btn-start">
                    start
                    </button>
                                    </form>
                </td>
                <td class="img_sofa">
                    <img  src="{% static 'films/images/sofa_people.png' %}"  alt="sofa">
                </td>

            </tr>

  </table>

   {% if user.is_authenticated %} <!--Авторизован пользователь?-->
  <!-- Отображение информации о подписках -->
    <h2>Подписки</h2>
    <div class="subscriptions-container">
        {% for subscription in subscriptions_type %}
           <div class="subscription-box">
                <div class="subscription-header">{{ subscription.type_name }}</div>

               <div class="subscription-body">
                    <p>Cost: {{ subscription.cost_value }}</p>
                        <p>Available options:</p>
                            <ul>
                                {% for option in subscription.available_options.all %}
                                <li>{{ option.name }}</li>
                                 {% endfor %}
                            </ul>
                </div>

               <a href="http://127.0.0.1:8000/buy_subscription/"><div class="subscription-buy">Купить</div></a>

           </div>

       {% endfor %}
    </div>
    {% endif %}
</main>

{% endblock %}