
{% extends 'base.html' %}
{% load static %}

{% block  content %}

<main>
    <table class="disk_film">
        <tr><th colspan="2" >{{movie.title}}</th></tr>
                <tr><td>{{movie.year}}</td></tr>
        <tr>
            <td>



                {% if movie.poster == None %}
                                <img class="movie_img" src="{% static 'films/images/movie_base.jpg' %}" alt="this is image of cate">
                        {% else %}
                                <img class="movie_img" src="{{movie.poster}}" alt="this is image of cat">
                        {% endif %}
            </td>
            <td class="description">
                <p>{{movie.description}}</p>
                <!--<p>also called a movie, motion picture, moving picture, picture, photoplay or (slang) flick – is a work of visual art that simulates experiences and otherwise communicates ideas, stories, perceptions, feelings, beauty, or atmosphere through the use of moving images. These images are generally accompanied by sound and, more rarely, other sensory stimulations.[1] The word "cinema", short for cinematography, is often used to refer to filmmaking and the film industry, and the art form that is the result of it.</p>-->
            </td>
        </tr>

        <tr><td>{{movie.director}}</td></tr>
    </table>
</main>
{% endblock %}