{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <h2 class="Main_Title">Movies</h2>
    <!-- Немного фильтрации по году -->
    <form method="GET" action="/search_movie/">
        <input type="text" name="title" value="{{ title }}">
        <input type="number" id="year" name="year" min="1900" max="2023" value="2023" onchange="updateSlider(this.value)">
        <input type="submit" value="подтвердить">
    </form>
<br>

        <!-- Показ ошибки или общего числа найденных фильмов -->
    {% if count %}
        <p>Results: {{ count }}</p>
    {% endif %}
        <!-- Блоки с фильмами -->

        {% for movie in movies %}
    <a href="http://127.0.0.1:8000/info_movie/{{ movie.id }}/">
                <div class="movie" id="{{ movie.id }}">
                        {% if movie.poster == None %}
                                <img class="movie_img" src="{% static 'films/images/movie_base.jpg' %}" alt="this is image of cate">
                        {% else %}
                                <img class="movie_img" src="{{movie.poster}}" alt="this is image of cat">
                        {% endif %}
                    <span class="title_movie">{{ movie.title }}</span>
                </div>
            </a>
        {% endfor %}

        <!-- Пагинация -->
    {% if page_obj.has_other_pages %} <!--page_obj - текущая страница-->
        <form action="/search_movie/">
            {% csrf_token %}
            <ul class="pagination">
                {% for number_page in paginator.page_range %}
                    <li><input type="submit" name="page" value="{{ number_page }}" ></li>
                {% endfor %}
            </ul>
        </form>
    {% endif %}

</main>

{% endblock %}