{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <h2 class="Main_Title">Movies</h2>
    <!-- Показ ошибки или общего числа найденных фильмов -->
    {% if Error %}
        <p>Results: {{ Error }}</p>
    {% else %}
        <p>Results: {{ count }}</p>

        <!-- Блоки с фильмами -->
        {% for movie in movies %}
    <a href="#">
                <div class="movie" id="{{ movie.imdbID }}">
                        {% if movie.poster == None %}
                                <img class="movie_img" src="{% static 'films/images/movie_base.jpg' %}" alt="this is image of cate">
                        {% else %}
                                <img class="movie_img" src="{{movie.poster}}" alt="this is image of cat">
                        {% endif %}
                    <span class="title_movie">{{ movie.title }}</span>
                </div>
            </a>
        {% endfor %}

        <!-- Пагинация -->
        <form action="/search_movie/">
            {% csrf_token %}
            <ul class="pagination">
                {% for number_page in movies.paginator.page_range %}
                    <li><input type="submit" name="page" value="{{ number_page }}" ></li>
                {% endfor %}
            </ul>
        </form>
    {% endif %}
</main>
{% endblock %}