<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'films/CSS/style.css' %}">

</head>
<body>
<header style="width:100%; height=200px ; background=light-blue;">
<nav class="one">

  <ul>
    <li><a href="http://127.0.0.1:8000/"><i class="fa fa-home fa-fw"></i>Kinopoisk 2.0</a></li>
    <li><a href="http://127.0.0.1:8000/search_movie/">Movies</a></li>
    <li><a href="http://127.0.0.1:8000/cats/">Categories</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About us</a></li>
    <li>
      <span class="d7">
        <form method="GET" action="/search_movie/">
          {% csrf_token %}
          <input type="text" name="title" value="" placeholder="Search">
          <button type="submit"></button>
        </form>
      </span>

    </li>



     <span class="account">
        {% if user.is_authenticated %} <!--Авторизован пользователь?-->
            <li class="last"> {{user.username}} | <a href="http://127.0.0.1:8000/user/logout/">Выйти</a></li>
        {% else %}<!-- не авторизован-->
            <li class="last"><a href="http://127.0.0.1:8000/user/login/">Войти</a> | <a href="#">Регистрация</a></li>
        {% endif %}
     </span>





  </ul>
</nav>
</header>



{% block  content %} {% endblock %}


<footer>


    FOOTER
</footer>
</body>
</html>